@{
    ViewData["Title"] = "Index";
}

<h2>Welkom bij uw Band app. Hier komt u alles te weten over de bands en hun leden</h2>
<a href="bandlid/Lijst">Toon bandlijst</a>
<a href="bandlid/LijstMetLeden">Toon bandlijst met leden</a>

